<% include ../partials/header %>
  
<section>
  

  <div class="row">

    <% for ( let drink of drinks ) { %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= drink.drinkName %></h5>
            <p>Alcohol Limit: <%= drink.alcoholLimit %>%</p>
            <p>Volume: <%= drink.volume %> ounces</p>
            <% if (drink.description != null) { %>
              <p><%= drink.description %></p>
            <% } %>
            <div class="actions">

              <a href="/drinks/<%= drink.id %>" class="btn btn-primary">Show</a>

              <a href="/drinks/<%= drink.id %>/edit" class="btn btn-primary">Edit</a>

              <form action="/drinks/<%= drink.id %>/delete" method="post"  onsubmit="return confirm('DANGER ZONE');">
                  <input type="hidden" name="id" value="<%= drink.id %>">
                  <button type="submit" class="btn btn-danger">DELETE</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    <% } %>

  </div>
</section>

<% include ../partials/footer %>